@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@model IEnumerable<SecondAid.Models.Health.MedicationInstruction>

@{
    ViewData["Title"] = Localizer["Medication Instructions"];
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="glyphicon glyphicon-plus" asp-action="Create" title="Create New"></a>
</p>
<table class="table lookup">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medication.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instruction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medication.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationInstructionId" class="glyphicon glyphicon-edit" title="Edit"></a>
                <a asp-action="Details" asp-route-id="@item.MedicationInstructionId" class="glyphicon glyphicon-list" title="Details"></a>
                <a asp-action="Delete" asp-route-id="@item.MedicationInstructionId" class="glyphicon glyphicon-remove" title="Delete"></a>
            </td>
        </tr>
}
    </tbody>
</table>
