@model SecondAid.Models.Health.Schedule

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
        <dt>
            Procedure Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Procedure.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScheduleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
